!!!
%html
  %head
    = javascript_include_tag 'application'
    = stylesheet_link_tag 'admin/active_admin'

  %body
    %div.table-container
      %table.index_table
        %thead
          %tr
            %th.col Страницы
        %tbody
          - @pages.each_with_index do |page, i|
            %tr{'data-url'=>page_path(page), class:(i.even? ? 'odd' : 'even')}
              %td=page.title
    %div.table-container
      %table.index_table
        %thead
          %tr
            %th.col Файлы
        %tbody
          - @files.each_with_index do |file, i|
            %tr{'data-url'=>file.file.url, class:(i.even? ? 'odd' : 'even')}
              %td=file[:file]

    :javascript
      var a = function(){
        $('tr').click(function(){
          var url = $(this).data('url');
          window.opener.CKEDITOR.tools.callFunction( 1, url);
          window.close();
        });
      }();
    :css
      div.table-container{
        width: 48%;
        float: left;
        margin-left: 1%;
        margin-top: 1%;
      }
      table{
        border-collapse: collapse;
        font-size: 120%;
      }
      td{
        cursor: pointer;
      }
      td:hover{
        background-color: #eee !important;
      }